<div class="controls">
    <ul>
        <li>
            <form >
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="tableOptions.filter" placeholder="Filter...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="removeFilter()"><span class="glyphicon glyphicon-remove"></span>&nbsp;</button>
                    </span>
                </div>
            </form>
        </li>
    </ul>
</div>